
.container_summary {
    background-color: white;
    padding: 30px;
    color: #09a29d;
    margin: auto;
    margin-top: 3%;
    margin-left: 9%;
    width: 700px;
    height: 550px;

  
    
}

p {
    font-size: 15px;
    color: grey;
    padding: 10px;
    line-height: 27px;
}

.container_visualization {
    background-color: white;
    position: absolute;
    top: 15.2%;
    right: 16%;
    padding: 30px;
    color: #09a29d;
    margin: auto;
    width: 350px;
    height: 450px;
    
}

.container_comparison {
    background-color: white; 
    top: 30%; 
    padding: 30px;
    color: #09a29d;
    margin: auto;
    width: 850px;
    height: 80%;
    margin-top:2%;
}

.container_comparison p {
    padding: 0px;
    color: black;
    font-size: 12px;
}

.container_comparison img {
    width: 320px;
    height: 180px;
}

.table-responsive {
    min-height: .01%;
    overflow-x: auto;
}


.container_data {
    background-color: white;
    margin: auto;
    width: 78%;
    top : 200px;
    padding: 30px;
    color: #09a29d;
}

.container_data p {
    color: black
}

.row0 {
    font-weight: bold;
}

.center_table {
    margin-left: auto;
    margin-right: auto;
    color: grey
}




@media (max-width: 650px) {
    .container_summary  {
        left: 0%; 
        top: 8%; 
        padding: 30px;
        width: 100%;
        margin: auto;
       
    }

    .body_text h1 {
        font-weight: bolder;
    }

    .container_visualization {
        left: 0%; 
        top: 65%; 
        width: 100%;
        height: 40%;
    }

    .dropdown-menu {
        border: 0;
        background: #f8f9fa;
    }


    p {
        left: 0%;
        line-height: 20px;
        font-size: 13px;
    }


    nav {
        
        background-color: #09a29d;
    }

    .container_comparison {
        background-color: white; 
        left: 0%; 
        top: 8%; 
        padding: 30px;
        width: 100%;
        height: 200%;
        margin: auto;
    }
    h2 {
        font-weight: bolder;
    }

    .container_comparison img {
        font-weight: bolder;
        width: 450px;
        height: 300px;

    }

    .container_data {
        background-color: white;
        margin: auto;
        width: 100%;
        padding: 30px;
    
        
    }
 
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #ddd;
    }
    .table-responsive > .table {
        margin-bottom: 0;
    }

   .visualization {
       width: 500px;
       height: 300px;
       
   }

   .visualization_bottom {
       position: absolute;
       top: 80%;
       height: 350px;
       margin: auto;

       
   }

   .visualization_bottom img {
    width: 120px;
    height: 120px;
    margin-left: 30%;
    }

   .visualization_row {
    width: 370px;
    }

    .last_image {
        position: absolute;
        left: 105%;
    }

    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
        white-space: nowrap;
    }
    }



}

